/*********** BASE ***********/
html, body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato"; }

.container {
  background: #ffde3c;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; }

#entry,
#tempEntry {
  box-shadow: none;
  margin: 0;
  padding: 0;
  height: 50%;
  transition: all 0.3s ease;
  text-align: right;
  padding: 0.05em 0; }

#entry {
  font-size: 0.8555em; }

#tempEntry {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.555em; }

button {
  border-style: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 0.9em; }

.hidden {
  display: none; }

/***** CALCULATOR STYLE *****/
.calc {
  background: #EDEDED;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1); }
  .calc__entry {
    padding: 0 0.2em;
    height: 100px;
    color: #434343;
    font-size: 3em;
    outline: none;
    width: 100%;
    z-index: 1; }
  .calc__num {
    background: #213152;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    z-index: 2; }
    .calc__num--btn {
      color: #EDEDED;
      width: calc(100% / 3);
      flex-grow: 2;
      transition: all 0.1s ease; }
      .calc__num--btn:hover {
        background: #384c72; }
      .calc__num--btn:active {
        background: #3c5075; }
  .calc__operation {
    background-color: #39CEE7;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    z-index: 1; }
    .calc__operation--btn {
      color: #EDEDED;
      flex-grow: 1;
      width: 100%;
      transition: all 0.1s ease; }
      .calc__operation--btn:hover {
        background: #33b7cc; }
      .calc__operation--btn:active {
        background: #35c0d6; }

.calc__num,
.calc__operation {
  height: 250px;
  font-size: 1.2em;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2), 0 1px 10px rgba(0, 0, 0, 0.2); }
